{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col-sm">
  <h1>Hey {{user.username}}!</h1>
    </div>

  <div class="col-sm">
    <a href="{% url 'update_profile' %}" class="btn btn-secondary btn-rounded float-right" style="margin-top:1%;">Update Profile</a>
  </div>
</div>
    <hr>
  <div class="row">
    <div class="col-sm-4">
      <h5>Bio: </h5>
      {% if user.profile.bio %}
         <p> {{user.profile.bio}}</p>
      {% else %}
          <p> <i> You don't have a bio yet. Update your profile to add one! </i></p>
      {% endif %}

</div>
<div class="col-sm-4">
  <h5>Current Weight: </h5>
  {% if user.profile.weight %}
     <p> {{user.profile.weight}}lbs</p>
  {% else %}
      <p> <i> You haven't entered your weight yet!</i></p>
  {% endif %}
</div>

  </div>
  <hr>
  <p>You have the following workouts on your profile:</p>
  <div class="container mt-3">
  <div class="row">
      {% for workout in user.workouts.all %}
        <div class="col-sm-4">
        <div class="card mb-4">
          <div class="card-header">{{workout.name}}</div>
          <img class="card-img-top" src="{{workout.img.url}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{workout.name}}</h4>
            <p class="card-text">{% for exercise in workout.exercises.all|slice:"2" %}
              {{exercise.name}},
              {% endfor %}
              ...
            </p>
            <a href="{% url 'workout_detail' workout.id %}" class="btn btn-primary">View Workout</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
      </div>
</div>
{% endblock %}
